body{
			
				background-color: #f4eed9;
				overflow-x: hidden;
			}
			
			img{
			
				position: absolute;
				width: 30px;
				height: 30px;
				margin-top: 0px;
				z-index: 5;
			}

			
			.headerback{
			
				background-color: #c4b775; 
				width: 1270px; 
				height: 120px; 
				position: absolute; 
				margin-left: -10px; 
				margin-top: -8px;
				z-index: 3;
				
			}
			
			.headerfront{
			
				background: linear-gradient(to right, #9b9264, #c4b775); 
				width: 1140px; 
				height: 90px; 
				position: absolute; 
				border-radius: 200px 0px 0px 0px; 
				margin-top: 22px; 
				margin-left: 120px;
				z-index: 3;
				
			}
			
			p{
			
				font-family: Anton;
				position: absolute;
				z-index: 10;
				color: white;
				font-size: 40px;
				
			}
			
			header a:nth-of-type(1) {
			
				margin-left: 500px;
				margin-top: 38px;
				
			}
			
			header a:nth-of-type(2) {
			
				margin-left: 755px;
				margin-top: 38px;
			}
			
			header a:nth-of-type(3) {
			
				margin-left: 625px;
				margin-top: 38px;
				
			}

			header a:nth-of-type(4) {
			
				margin-left: 930px;
				margin-top: 38px;
				
			}

			header a:nth-of-type(5) {
			
				margin-left: 1060px;
				margin-top: 38px;
				
			}
			
			footer a:nth-of-type(6){
			
				margin-left: 10px;
				margin-top: 675px;
				position: absolute;
				z-index: 11;
				
			}
			
			footer a:nth-of-type(7){
			
				margin-left: 130px;
				margin-top: 675px;
				
			}
			
			footer a:nth-of-type(8){
			
				margin-left: 305px;
				margin-top: 675px;
				
			}
			
			footer a:nth-of-type(9){
			
				margin-left: 435px;
				margin-top: 675px;
				
			}
			
			footer a:nth-of-type(10){
			
				margin-left: 565px;
				margin-top: 675px;
				
			}
			
			footer p:nth-of-type(1){
			
				margin-left: 1000px;
				margin-top: 700px;
				font-size: 23px;
				
			}
			
			ul{
			
				margin-left: 220px;
				margin-top: 775px;
				font-size: 10px;
				position: absolute;
				font-family: 'Source Code Pro', sans-serif;
				width: 300px;
				color: white;
			}
			
			footer p:nth-of-type(2){
			
				margin-left: 220px;
				margin-top: 745px;
				font-size: 22px;
				
			}
				
			ol{
			
				margin-left: 490px;
				margin-top: 775px;
				position: absolute;
				color: white;
				font-size: 10.5px;
				font-family: 'Source Code Pro', sans-serif;
				width: 450px;
				
			}
			
			footer p:nth-of-type(3){
			
				margin-left: 490px;
				margin-top: 745px;
				font-size: 22px;
				
			}
			
			.searchbar{
				
				position: absolute;
				width: 250px;
				height: 40px;
				align-items: center;
				background: white;
				border-radius: 25px;
				padding: 8px 15px;
				border: 2px solid black;
				margin-top: 40px;
				margin-left: 200px;
				z-index: 10;
				
				}

			.searchbar input {
			
				border: none;
				background: none;
				font-size: 18px;
				color: black;
				font-family: Anton;
				outline: none;
				
				}
					
			footer a:nth-of-type(1){
			
				margin-top: 765px;
				margin-left: 990px;
				width: 35px;
				height: 30px;
				opacity: 1;
				
				}
				
			footer a:nth-of-type(2){
			
				margin-top: 765px;
				margin-left: 1050px;
				width: 35px;
				height: 30px;
				opacity: 1;
				}
				
			footer a:nth-of-type(3){
			
				margin-top: 765px;
				margin-left: 1105px;
				width: 35px;
				height: 30px;
				opacity: 1;
				}
				
			footer a:nth-of-type(4){
			
				margin-top: 765px;
				margin-left: 1160px;
				width: 35px;
				height: 30px;
				opacity: 1;
				}
				
			footer a:nth-of-type(5){
			
				margin-top: 765px;
				margin-left: 1210px;
				width: 35px;
				height: 30px;
				opacity: 1;
				}
			
			.footerback{
			
					background: linear-gradient(to right, #9b9264, #c4b775);
					width: 1270px;
					height: 290px;
					margin-top: 670px;
					margin-left: -8px;
					position: absolute;
				}
			
			.line{
				
				width: 950px;
				height: 3px;
				margin-top: 740px;
				margin-left: -7px;
				background-color: #cdc9b0;
				position: absolute;
				z-index: 3;
			}
			
			.barrier{
			
				width: 4px;
				height: 15px;
				margin-top: 734px;
				margin-left: 940px;
				background-color: #cdc9b0;
				position: absolute;
				z-index: 3;
			}
			
			.socials{
			
				background: linear-gradient(to top, #a9a073, #a69e73, #bbae6c);
				width: 300px;
				height: 75px;
				margin-top: 745px;
				margin-left: 961px;
				position: absolute;
				border-radius: 50px 0 0 50px;
			}
			
			footer{
			
			transform: translateY(70px);
			
			}
			
			a{
			
			position: absolute;
			font-family: Anton;
			position: absolute;
			z-index: 10;
			color: white;
			font-size: 40px;
			text-decoration: none;
			}
			
			header a:hover:not(:nth-of-type(n+6)){
			
			text-decoration: underline;
			color:  #72BCD4;
			transform: scale(0.7);
			cursor: pointer;
			
			}
			
			footer a:nth-of-type(n+6):hover{
			
			text-decoration: underline;
			color:  #72BCD4;
			transform: scale(0.7);
			cursor: pointer;
			
			}
			
			footer a:hover:not(:nth-of-type(n+6)){
			
			transform: scale(1.5);
			
			}
			
			.box1{
			
				background: linear-gradient(to right, #9c987c, #bebba5, #d8d4bc, #e3e0d3);
				width: 400px;
				height: 400px;
				position: absolute;
				border: 5px solid black;
				border-radius: 0 50px 50px 0;
				margin-left: -8px;
				margin-top: 140px;
				border-left: none;
				z-index: 4;
			}
			
			.box2{
			
				background: linear-gradient(to left, #9c987c, #bebba5, #d8d4bc, #e3e0d3);
				width: 300px;
				height: 400px;
				position: absolute;
				border: 5px solid black;
				border-radius: 50px 0 0 50px;
				margin-left: 955px;
				margin-top: 300px;
				border-right: none;
				z-index: 4;
			}
			
			.box3{
			
				background: #f4eed9;
				width: 150px;
				height: 120px;
				position: absolute;
				border: 3px solid black;
				border-radius: 30px;
				margin-left: 10px;
				margin-top: 230px;
				z-index: 6;
			}
			
			.box4{
			
				background: #f4eed9;
				width: 150px;
				height: 120px;
				position: absolute;
				border: 3px solid black;
				border-radius: 30px;
				margin-left: 210px;
				margin-top: 230px;
				z-index: 6;
			}
			
			.box5{
			
				background: #f4eed9;
				width: 150px;
				height: 120px;
				position: absolute;
				border: 3px solid black;
				border-radius: 30px;
				margin-left: 113px;
				margin-top: 410px;
				z-index: 6;
			}
			
			.box6{
			
				background: #f4eed9;
				width: 260px;
				height: 280px;
				position: absolute;
				border: 3px solid black;
				border-radius: 30px;
				margin-left: 980px;
				margin-top: 400px;
				z-index: 6;
			}
			
			.box7{
			
				background-color: #e3e0d3;
				width: 150px;
				height: 900px;
				position: absolute;
				border: 5px solid black;
				margin-left: 600px;
				margin-top: -10px;
				transform: rotate(-72deg);
				z-index: 3;
				
			}
			
			section p:nth-of-type(1){
			
				color: #458498;
				margin-top: 150px;
				margin-left: 30px;
				position: absolute;
				font-size: 50px;
			}
			
			section p:nth-of-type(2){
			
				color: #458498;
				margin-top: 150px;
				margin-left: 230px;
				position: absolute;
				font-size: 50px;
			}
			
			section p:nth-of-type(3){
			
				color: #458498;
				margin-top: 345px;
				margin-left: 135px;
				position: absolute;
				font-size: 50px;
			}
			
			section p:nth-of-type(4){
			
				color: #458498;
				margin-top: 245px;
				margin-left: 20px;
				position: absolute;
				font-size: 12.5px;
				width: 150px;
			}
			
			section p:nth-of-type(5){
			
				color: #458498;
				margin-top: 245px;
				margin-left: 230px;
				position: absolute;
				width: 120px;
				font-size: 12.5px;
			}
			
			section p:nth-of-type(6){
			
				color: #458498;
				margin-top: 423px;
				margin-left: 130px;
				position: absolute;
				width: 130px;
				font-size: 10.5px;
			}
			
			section p:nth-of-type(7){
			
				color: #458498;
				margin-top: 310px;
				margin-left: 990px;
				position: absolute;
				font-size: 55px;
			}
			
			section p:nth-of-type(7){
			
				color: #458498;
				margin-top: 313px;
				margin-left: 980px;
				position: absolute;
				font-size: 55px;
			}
			
			section p:nth-of-type(8){
			
				color: #458498;
				margin-top: 420px;
				margin-left: 987px;
				position: absolute;
				font-size: 15px;
				width: 250px;
				text-align: center;
			}
			
			section img{
			
				width: 1300px;
				height: 740px;
				position: absolute;
				z-index: 2;	
				margin-left: -8px;
				opacity: 0.51;
			}
			
			section .background{
			
				width: 1300px;
				height: 740px;
				position: absolute;
				z-index: 1;
				margin-left: -8px;
				background: linear-gradient(to right, #002437, #02334d, #074e74, #1076ad); 
			}
			
			table{
			
			
				color: white;
				border: 3px solid white;
				position: absolute;
				margin-left: 0px;
				margin-top: 730px;
				width: 1200px;
				transform: scaleY(0.4);
				font-family: Anton;
			}
			
			tr, th, td{
			
				border: 3px solid white;
			
			}	
