body{
			
				background-color: #f4eed9;
				overflow-x: hidden;
			}
			
			img{
			
				position: absolute; 
				width: 1270px; 
				height: 800px; 
				opacity: 0.49; 
				margin-top: -50px;
				z-index: 1;
				background: linear-gradient(to right, #002437, #02334d, #074e74, #1076ad); 
			}
			
			footer img{
			
				position: absolute;
				width: 30px;
				height: 30px;
				margin-top: 0px;
				z-index: 1;
				opacity: 1;
			}
			
			.section1 img:nth-of-type(1){
			
				width: 480px;
				height: 480px;
				opacity: 1;
				margin-left: 200px;
				margin-top: -540px;
				
			}
			
			.section2 img:nth-of-type(1){
			
				width: 200px;
				height: 200px;
				opacity: 1;
				margin-left: 100px;
				margin-top: 155px;
				transform: translateY(50px);
				
			}
			
			.section2 img:nth-of-type(2){
			
				width: 200px;
				height: 200px;
				opacity: 1;
				margin-left: 550px;
				margin-top: 160px;
				transform: translateY(50px);
				
			}
			
			.section2 img:nth-of-type(3){
			
				width: 200px;
				height: 200px;
				opacity: 1;
				margin-left: 1000px;
				margin-top: 160px;
				transform: translateY(50px);
				
			}
			
			.headerback{
			
				background-color: #c4b775; 
				width: 1270px; 
				height: 150px; 
				position: absolute; 
				margin-left: -10px; 
				margin-top: -950px;
				z-index: 3;
				
			}
			
			.headerfront{
			
				background: linear-gradient(to right, #9b9264, #c4b775); 
				width: 1140px; 
				height: 90px; 
				position: absolute; 
				border-radius: 200px 0px 0px 0px; 
				margin-top: -890px; 
				margin-left: 120px;
				z-index: 3;
				
			}
			
			.imgbackground{
			
				background: linear-gradient(to right, #002437, #02334d, #074e74, #1076ad); 
				width: 1270px; 
				height: 750px; 
				margin-top: 160px; 
				margin-left: -10px;
				transform: translateY(-50px);
				
			}
			
			p{
			
				font-family: Anton;
				position: absolute;
				z-index: 10;
				color: white;
				font-size: 40px;
				
			}
			
			a{
			
				font-family: Anton;
				position: absolute;
				z-index: 10;
				color: white;
				font-size: 40px;
				text-decoration: none;
				
			}
			
			header a:nth-of-type(1) {
			
				margin-left: 500px;
				margin-top: -875px;
			}
			
			header a:nth-of-type(2) {
			
				margin-left:755px;
				margin-top: -875px;
			}
			
			header a:nth-of-type(3) {
			
				margin-left: 625px;
				margin-top: -875px;
				
			}

			header a:nth-of-type(4) {
			
				margin-left: 930px;
				margin-top: -875px;
				
			}

			header a:nth-of-type(5) {
			
				margin-left: 1060px;
				margin-top: -875px;
				
			}
			
			header p:nth-of-type(1){
			
				margin-top: -650px;
				margin-left: 30px;
				font-family: Anton;
				font-size: 70px;
				position: absolute;
				z-index: 5;
				width: 700px;
				color: white;
			
			}
			
			header p:nth-of-type(2){
			
				margin-top: -340px;
				margin-left: 30px;
				font-family: 'Source Code Pro', sans-serif;   
				font-weight: bold;
				font-size: 15px;
				position: absolute;
				z-index: 5;
				width: 800px;
				color: white;
				margin-left: 30px;
			
			}
			
			.section1 p:nth-of-type(1){
			
				font-size: 50px;
				font-family: Anton;
				color: #195566;
				position: absolute;
				margin-top: -610px;
				margin-left: 540px;
				
			}
			
			.section1 p:nth-of-type(2){
			
				font-size: 21px;
				font-family: 'Source Code Pro', sans-serif;
				color: #195566;
				width: 515px;
				position: absolute;
				margin-top: -520px;
				margin-left: 710px;
				
			}
			
			.section1 p:nth-of-type(3){
			
				height: 50px;
				justify-content: center;
				align-items: center;
				width: 170px;
				border: 2px solid #195566;
				border-radius: 20px;
				color: #195566;
				font-size: 30px;
				font-family: Anton;
				margin-left: 700px;
				margin-top: -80px;
			}
			
			.section2 p:nth-of-type(1){
			
				font-size: 70px;
				font-family: Anton;
				color: white;
				position: absolute;
				margin-top: 95px;
				margin-left: 450px;
				
			}
			
			.section2 p:nth-of-type(2){
			
				font-size: 13px;
				font-family: 'Source Code Pro', sans-serif;
				color: white;
				width: 150px;
				position: absolute;
				margin-top: 360px;
				margin-left: 80px;
				text-align: left;
			}
			
			.section2 p:nth-of-type(3){
			
				font-size: 11px;
				font-family: 'Source Code Pro', sans-serif;
				color: white;
				width: 150px;
				position: absolute;
				margin-top: 360px;
				margin-left: 570px;
				text-align: center;
			}
			
			.section2 p:nth-of-type(4){
			
				font-size: 10.5px;
				font-family: 'Source Code Pro', sans-serif;
				color: white;
				width: 150px;
				position: absolute;
				margin-top: 360px;
				margin-left: 1065px;
				text-align: right;
				
			}
			
			footer a:nth-of-type(6){
			
				margin-left: 10px;
				margin-top: 675px;
				
			}
			
			footer a:nth-of-type(7){
			
				margin-left: 130px;
				margin-top: 675px;
				
			}
			
			footer a:nth-of-type(8){
			
				margin-left: 305px;
				margin-top: 675px;
				
			}
			
			footer a:nth-of-type(9){
			
				margin-left: 435px;
				margin-top: 675px;
				
			}
			
			footer a:nth-of-type(10){
			
				margin-left: 565px;
				margin-top: 675px;
				
			}
			
			footer p:nth-of-type(1){
			
				margin-left: 1000px;
				margin-top: 700px;
				font-size: 23px;
				
			}
			
			footer p:nth-of-type(2){
			
				margin-left: 220px;
				margin-top: 745px;
				font-size: 22px;
				
			}
			
			ul{
			
				margin-left: 220px;
				margin-top: 775px;
				font-size: 10px;
				position: absolute;
				font-family: 'Source Code Pro', sans-serif;
				width: 300px;
				color: white;
			}
				
			footer p:nth-of-type(3){
			
				margin-left: 490px;
				margin-top: 745px;
				font-size: 22px;
				
			}
			
			ol{
			
				margin-left: 490px;
				margin-top: 775px;
				position: absolute;
				color: white;
				font-size: 10.5px;
				font-family: 'Source Code Pro', sans-serif;
				width: 450px;
				
			}
			
			header a:hover:not(:nth-of-type(n+6)){
			
				text-decoration: underline;
				 color:  #72BCD4;
				 transform: scale(0.7);
				 cursor: pointer;
			}
			
			footer a:nth-of-type(n+6):hover{
			
			text-decoration: underline;
			color:  #72BCD4;
			transform: scale(0.7);
			cursor: pointer;
			
			}
			
			footer a:hover:not(:nth-of-type(n+6)){
			
			transform: scale(1.5);
			
			}
			
			.searchbar{
				
				position: absolute;
				width: 250px;
				height: 40px;
				align-items: center;
				background: white;
				border-radius: 25px;
				padding: 8px 15px;
				border: 2px solid black;
				margin-top: -875px;
				margin-left: 200px;
				z-index: 10;
				
				}

			.searchbar input {
			
				border: none;
				background: none;
				font-size: 18px;
				color: black;
				font-family: Anton;
				outline: none;
				
				}
				
				
			.wave{
			
				position: absolute;
				margin-top: -420px;
				margin-left: -7px;
				width: 650px;
				height: 30px;
				z-index: 3;
				border-radius: 0px 30px 30px 0px;
				background-color: #c4b775;
			}
			
			.bluebox{
				
				width: 400px;
				height: 600px;
				margin-top: 30px;
				margin-left: 50px;
				
			}
			
			section .bluebox:nth-of-type(1){
			
			background: linear-gradient(to bottom, #226d82, #237086, #195566);
			
			}
			
			section .bluebox:nth-of-type(2){
			
			background: linear-gradient(to top, #226d82, #237086, #195566);
			margin-top: -600px;
			margin-left: 120px;
			
			}
			
			.brownbox1{
			
				width: 180px;
				height: 140px;
				
				}
				
			.section2 .brownbox1:nth-of-type(1){
				
				background: linear-gradient(to right, #a9a073, #a69e73, #bbae6c);
				margin-top: 300px;
				margin-left: 70px;
				z-index: 3;
				position: absolute;
				transform: translateY(50px);
				}
				
			.section2 .brownbox1:nth-of-type(2){
				
				background: linear-gradient(to bottom, #a9a073, #a69e73, #bbae6c);
				margin-top: 300px;
				margin-left: 560px;
				position: absolute;
				z-index: 3;
				transform: translateY(50px);
				}
				
			.section2 .brownbox1:nth-of-type(3){
				
				background: linear-gradient(to left, #a9a073, #a69e73, #bbae6c);
				margin-top: 300px;
				margin-left: 1050px;
				position: absolute;
				z-index: 3;
				transform: translateY(50px);
				}
			
			.imgback2{
			
				background: linear-gradient(to right, #9b9264, #c4b775);
				width: 1270px;
				height: 250px;
				margin-top: 100px;
				margin-left: -8px;
				position: absolute;
			}
			
			footer a:nth-of-type(1){
			
				margin-top: 765px;
				margin-left: 990px;
				width: 35px;
				height: 30px;
				opacity: 1;
				}

				footer a:nth-of-type(2){
			
				margin-top: 765px;
				margin-left: 1050px;
				width: 35px;
				height: 30px;
				opacity: 1;
				}
				
				footer a:nth-of-type(3){
			
				margin-top: 765px;
				margin-left: 1105px;
				width: 35px;
				height: 30px;
				opacity: 1;
				}
				
				footer a:nth-of-type(4){
			
				margin-top: 765px;
				margin-left: 1160px;
				width: 35px;
				height: 30px;
				opacity: 1;
				}
				
				footer a:nth-of-type(5){
			
				margin-top: 765px;
				margin-left: 1210px;
				width: 35px;
				height: 30px;
				opacity: 1;
				}
			
			.footerback{
			
					background: linear-gradient(to right, #9b9264, #c4b775);
					width: 1270px;
					height: 290px;
					margin-top: 670px;
					margin-left: -8px;
					position: absolute;
				}
			
			.line{
				
				width: 950px;
				height: 3px;
				margin-top: 740px;
				margin-left: -7px;
				background-color: #cdc9b0;
				position: absolute;
				z-index: 3;
			}
			
			.barrier{
			
				width: 4px;
				height: 15px;
				margin-top: 734px;
				margin-left: 940px;
				background-color: #cdc9b0;
				position: absolute;
				z-index: 3;
			}
			
			.socials{
			
				background: linear-gradient(to top, #a9a073, #a69e73, #bbae6c);
				width: 300px;
				height: 75px;
				margin-top: 745px;
				margin-left: 961px;
				position: absolute;
				border-radius: 50px 0 0 50px;
			}
				
			table{
			
			
				color: white;
				border: 3px solid white;
				position: absolute;
				margin-left: 0px;
				margin-top: 730px;
				width: 1200px;
				transform: scaleY(0.4);
				font-family: Anton;
			}
			
			tr, th, td{
			
				border: 3px solid white;
			
			}
