	body{
			
				background-color: #f4eed9;
				overflow-x: hidden;
				
			}
			
			img{
			
				position: absolute; 
				width: 1270px; 
				height: 800px; 
				opacity: 0.49; 
				margin-top: -50px;
				z-index: 1;
				background: linear-gradient(to right, #002437, #02334d, #074e74, #1076ad); 
			}
			
			footer img{
			
				position: absolute;
				width: 30px;
				height: 30px;
				margin-top: 0px;
				z-index: 1;
				opacity: 1;
			}
			
			.headerback{
			
				background-color: #c4b775; 
				width: 1270px; 
				height: 120px; 
				position: absolute; 
				margin-left: -10px; 
				margin-top: -8px;
				z-index: 3;
				
			}
			
			.headerfront{
			
				background: linear-gradient(to right, #9b9264, #c4b775); 
				width: 1140px; 
				height: 90px; 
				position: absolute; 
				border-radius: 200px 0px 0px 0px; 
				margin-top: 22px; 
				margin-left: 120px;
				z-index: 3;
				
			}
			
			p{
			
				font-family: Anton;
				position: absolute;
				z-index: 10;
				color: white;
				font-size: 40px;
				
			}
			
			header a:nth-of-type(1) {
			
				margin-left: 500px;
				margin-top: 38px;
				
			}
			
			header a:nth-of-type(2) {
			
				margin-left: 755px;
				margin-top: 38px;
			}
			
			header a:nth-of-type(3) {
			
				margin-left: 625px;
				margin-top: 38px;
				
			}

			header a:nth-of-type(4) {
			
				margin-left: 930px;
				margin-top: 38px;
				
			}

			header a:nth-of-type(5) {
			
				margin-left: 1060px;
				margin-top: 38px;
				
			}
			
			footer a:nth-of-type(6){
			
				margin-left: 10px;
				margin-top: 675px;
				
			}
			
			footer a:nth-of-type(7){
			
				margin-left: 130px;
				margin-top: 675px;
				
			}
			
			footer a:nth-of-type(8){
			
				margin-left: 305px;
				margin-top: 675px;
				
			}
			
			footer a:nth-of-type(9){
			
				margin-left: 435px;
				margin-top: 675px;
				
			}
			
			footer a:nth-of-type(10){
			
				margin-left: 565px;
				margin-top: 675px;
				
			}
			
			footer p:nth-of-type(1){
			
				margin-left: 1000px;
				margin-top: 700px;
				font-size: 23px;
				
			}
			
			ul{
			
				margin-left: 220px;
				margin-top: 775px;
				font-size: 10px;
				position: absolute;
				font-family: 'Source Code Pro', sans-serif;
				width: 300px;
				color: white;
			}
			
			footer p:nth-of-type(2){
			
				margin-left: 220px;
				margin-top: 745px;
				font-size: 22px;
				
			}
				
			ol{
			
				margin-left: 490px;
				margin-top: 775px;
				position: absolute;
				color: white;
				font-size: 10.5px;
				font-family: 'Source Code Pro', sans-serif;
				width: 450px;
				
			}
			
			footer p:nth-of-type(3){
			
				margin-left: 490px;
				margin-top: 745px;
				font-size: 22px;
				
			}
			
			.searchbar{
				
				position: absolute;
				width: 250px;
				height: 40px;
				align-items: center;
				background: white;
				border-radius: 25px;
				padding: 8px 15px;
				border: 2px solid black;
				margin-top: 40px;
				margin-left: 200px;
				z-index: 10;
				
				}

			.searchbar input {
			
				border: none;
				background: none;
				font-size: 18px;
				color: black;
				font-family: Anton;
				outline: none;
				
				}
					
			footer a:nth-of-type(1){
			
				margin-top: 765px;
				margin-left: 990px;
				width: 35px;
				height: 30px;
				opacity: 1;
				}
				
			footer a:nth-of-type(2){
			
				margin-top: 765px;
				margin-left: 1050px;
				width: 35px;
				height: 30px;
				opacity: 1;
				}
				
			footer a:nth-of-type(3){
			
				margin-top: 765px;
				margin-left: 1105px;
				width: 35px;
				height: 30px;
				opacity: 1;
				}
				
			footer a:nth-of-type(4){
			
				margin-top: 765px;
				margin-left: 1160px;
				width: 35px;
				height: 30px;
				opacity: 1;
				}
				
				footer a:nth-of-type(5){
			
				margin-top: 765px;
				margin-left: 1210px;
				width: 35px;
				height: 30px;
				opacity: 1;
				}
			
			.footerback{
			
					background: linear-gradient(to right, #9b9264, #c4b775);
					width: 1270px;
					height: 290px;
					margin-top: 670px;
					margin-left: -8px;
					position: absolute;
				}
			
			.line{
				
				width: 950px;
				height: 3px;
				margin-top: 740px;
				margin-left: -7px;
				background-color: #cdc9b0;
				position: absolute;
				z-index: 3;
			}
			
			.barrier{
			
				width: 4px;
				height: 15px;
				margin-top: 734px;
				margin-left: 940px;
				background-color: #cdc9b0;
				position: absolute;
				z-index: 3;
			}
			
			.socials{
			
				background: linear-gradient(to top, #a9a073, #a69e73, #bbae6c);
				width: 300px;
				height: 75px;
				margin-top: 745px;
				margin-left: 961px;
				position: absolute;
				border-radius: 50px 0 0 50px;
			}
			
			section img:nth-of-type(1){
			
				opacity: 0.49;
				width: 320px;
				height: 790px;
				margin-left: -8px;
			}
			
			section img:nth-of-type(2){
			
				opacity: 1;
				width: 490px;
				height: 164px;
				margin-left: 495px;
				margin-top: 540px;
				transform: rotate(56.5deg);
				border: 6px solid #195566;
				border-left: none;
				position: absolute;
				z-index:0;
				
			}
			
			section img:nth-of-type(3){
			
				opacity: 1;
				width: 420px;
				height: 125px;
				margin-left: 790px;
				margin-top: 543px;
				transform: rotate(56.5deg);
				border: 6px solid #195566;
				border-left: none;
				position: absolute;
				z-index:0;
				
			}
			
			section img:nth-of-type(4){
			
				opacity: 1;
				width: 420px;
				height: 125px;
				margin-left: 1040px;
				margin-top: 543px;
				transform: rotate(56.5deg);
				border: 6px solid #195566;
				border-left: none;
				position: absolute;
				z-index:0;
				
			}
			
			.imgback2{
			
				width: 320px;
				height: 740px;
				position: absolute;
				margin-left: -8px;
				background: linear-gradient(to right, #002437, #02334d, #074e74, #1076ad);
				
			}
			
			.heading{
			
				height: 120px;
				width: 300px;
				position: absolute;
				background: linear-gradient(to right, #226d82, #237086, #195566);
				margin-left: 120px;
				margin-top: 165px;
				border-radius: 10px;
				z-index: 3;
				
			}
			
			.box1{
			
				width: 200px;
				height: 150px;
				background-color: #f4eed9;
				border-radius: 20px 20px 0 0;
				border: 7px solid #195566;
				position: absolute;
				margin-left: 535px;
				margin-top: 320px;
				border-bottom: none;
				z-index: 1;
			}
			
			.box2{
			
				width: 150px;
				height: 200px;
				background-color: #f4eed9;
				border-radius: 20px 20px 0 0;
				border: 7px solid #195566;
				position: absolute;
				margin-left: 830px;
				margin-top: 270px;
				border-bottom: none;
				z-index: 1;
				
			}
			
			.box3{
			
				width: 150px;
				height: 250px;
				background-color: #f4eed9;
				border-radius: 20px 20px 0 0;
				border: 7px solid #195566;
				position: absolute;
				margin-left: 1080px;
				margin-top: 220px;
				border-bottom: none;
				z-index: 1;
				
			}
			
			section p:nth-of-type(1){
				
				margin-top: 170px;
				margin-left: 130px;
				font-size: 70px;
				
			}
			
			section p:nth-of-type(2){
				
				margin-top: 230px;
				margin-left: 615px;
				font-size: 70px;
				color: #195566;
				
			}
			
			section p:nth-of-type(3){
				
				margin-top: 180px;
				margin-left: 870px;
				font-size: 70px;
				color: #195566;
				
			}
			
			section p:nth-of-type(4){
				
				margin-top: 130px;
				margin-left: 1125px;
				font-size: 70px;
				color: #195566;
				
			}
			
			section p:nth-of-type(5){
				
				margin-top: 334.5px;
				margin-left: 550px;
				font-size: 70px;
				color: #195566;
				font-family: 'Source Code Pro', sans-serif;
				font-size: 8.4px;
				width: 180px;
				
			}
			
			section p:nth-of-type(6){
				
				margin-top: 290px;
				margin-left: 840px;
				font-size: 70px;
				color: #195566;
				font-family: 'Source Code Pro', sans-serif;
				font-size: 8.9px;
				width: 146px;
			}
			
			section p:nth-of-type(7){
				
				margin-top: 237px;
				margin-left: 1091px;
				font-size: 70px;
				color: #195566;
				font-family: 'Source Code Pro', sans-serif;
				font-size: 11px;
				width: 140px;
				
			}
			
			footer{
			
			transform: translateY(70px);
			
			}
			
			a{
			
			position: absolute;
			font-family: Anton;
			position: absolute;
			z-index: 10;
			color: white;
			font-size: 40px;
			text-decoration: none;
			}
			
			header a:hover:not(:nth-of-type(n+6)){
			
			text-decoration: underline;
			color:  #72BCD4;
			transform: scale(0.7);
			cursor: pointer;
			
			}
			
			footer a:nth-of-type(n+6):hover{
			
			text-decoration: underline;
			color:  #72BCD4;
			transform: scale(0.7);
			cursor: pointer;
			
			}
			
			footer a:hover:not(:nth-of-type(n+6)){
			
			transform: scale(1.5);
			
			}
			
			table{
			
			
				color: white;
				border: 3px solid white;
				position: absolute;
				margin-left: 0px;
				margin-top: 730px;
				width: 1200px;
				transform: scaleY(0.4);
				font-family: Anton;
			}
			
			tr, th, td{
			
				border: 3px solid white;
			
			}		
